{# templates/pages/ssh_key/_form.html.twig #}
{% set ssh_key = ssh_key ?? form.vars.data %}
{% set form_id = form.vars.id %}

{{ form_start(form, { attr: { id: form_id } }) }}

{{ form_row(form.name) }}
{{ form_row(form.publicKey) }}

{{ form_rest(form) }}

{{ form_end(form, { render_rest: false }) }}

<div class="card-actions mt-6 flex flex-wrap items-center justify-between gap-4">
    <div>
        {% if ssh_key is not null and ssh_key.id is not null and is_granted('ROLE_ADMIN') %}
            <twig:button
                variant="error"
                outline
                label="common.button.delete"
                confirmTitle="common.dialog.delete_title"
                :confirmMessage="'entity.ssh_key.dialog.delete_confirm'|trans({'%name%': ssh_key.name})"
                :actionPath="path('app_ssh_key_delete', { id: ssh_key.id })"
                :csrfToken="csrf_token('delete')"
            />
        {% endif %}
    </div>
    <div class="flex flex-wrap gap-2 justify-end">
        <twig:button
            tag="a"
            :href="path('app_ssh_key_index')"
            variant="primary"
            outline
            label="common.button.cancel"
        />
        <twig:button
            type="submit"
            :form="form_id"
            variant="primary"
            label="common.button.save"
        />
    </div>
</div>
