{# templates/partials/_header.html.twig #}
<div class="navbar bg-base-100 container mx-auto">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 6h16M4 12h8m-8 6h16"></path>
                </svg>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                {% include 'partials/_nav_items.html.twig' %}
                {% if not app.user %}
                    <li><a href="{{ path('app_login') }}">{{ 'auth.login'|trans }}</a></li>
                    <li><a href="{{ path('app_register') }}">{{ 'auth.register'|trans }}</a></li>
                {% endif %}
            </ul>
        </div>

        <a href="{{ path('app_host_index') }}" class="btn btn-ghost normal-case text-xl flex items-center gap-2">
            {{ ux_icon('solar:key-outline', { class: 'w-6 h-6' }) }}
            <span>{{ 'app.title'|trans }}</span>
        </a>
    </div>

    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            {% include 'partials/_nav_items.html.twig' %}
        </ul>
    </div>

    <div class="navbar-end">
        {% include 'partials/_theme_toggle.html.twig' %}
        {% include 'partials/_language_switcher.html.twig' %}

        {% if app.user %}
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost">
                    <div class="grid place-items-center w-full h-full">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                            <path fill="none" stroke="currentColor" stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0-8 0M6 21v-2a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4v2"></path>
                        </svg>
                    </div>
                </div>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                    <li>
                        <a href="{{ path('app_settings_index') }}">{{ "label.settings"|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout') }}">{{ "auth.logout"|trans }}</a>
                    </li>
                </ul>
            </div>
        {% else %}
            <a href="{{ path('app_login') }}"
               class="btn btn-ghost hidden lg:inline-flex">{{ 'auth.login'|trans }}</a>
            <a href="{{ path('app_register') }}"
               class="btn btn-ghost hidden lg:inline-flex">{{ 'auth.register'|trans }}</a>
        {% endif %}
    </div>
</div>
