{# templates/partials/_header.html.twig #}
{% set force_2fa = app.user and not app.user.isTotpEnabled() %}

<div class="navbar bg-base-100 container mx-auto">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                {{ ux_icon('bi:list', { class: 'h-5 w-5' }) }}
            </div>
            {% if not force_2fa %}
                <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                    {% include 'partials/_nav_items.html.twig' %}
                    {% if not app.user %}
                        <li><a href="{{ path('app_login') }}">{{ 'auth.action.login'|trans }}</a></li>
                        <li><a href="{{ path('app_register') }}">{{ 'auth.action.register'|trans }}</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>

        <a href="{{ path('app_host_index') }}" class="btn btn-ghost normal-case text-xl flex items-center gap-2">
            {{ ux_icon('solar:key-linear', { class: 'w-6 h-6' }) }}
            <span>{{ 'app.name'|trans }}</span>
        </a>
    </div>

    {% if not force_2fa %}
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                {% include 'partials/_nav_items.html.twig' %}
            </ul>
        </div>
    {% endif %}

    <div class="navbar-end">
        {% include 'partials/_theme_toggle.html.twig' %}
        {% include 'partials/_language_switcher.html.twig' %}

        {% if app.user %}
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost">
                    <div class="grid place-items-center w-full h-full">
                        {{ ux_icon('bi:person-circle', { class: 'w-5 h-5' }) }}
                    </div>
                </div>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                    {% if not force_2fa %}
                        <li>
                            <a href="{{ path('app_settings_index') }}">{{ ux_icon('bi:gear', { class: 'w-4 h-4' }) }} {{ 'common.label.settings'|trans }}</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('app_logout') }}">{{ ux_icon('bi:box-arrow-right', { class: 'w-4 h-4' }) }} {{ 'auth.action.logout'|trans }}</a>
                    </li>
                </ul>
            </div>
        {% else %}
            <a href="{{ path('app_login') }}"
               class="btn btn-ghost hidden lg:inline-flex">{{ ux_icon('bi:box-arrow-in-right', { class: 'w-6 h-6' }) }} {{ 'auth.action.login'|trans }}</a>
            <a href="{{ path('app_register') }}"
               class="btn btn-ghost hidden lg:inline-flex">{{ ux_icon('bi:person-plus', { class: 'w-6 h-6' }) }} {{ 'auth.action.register'|trans }}</a>
        {% endif %}
    </div>
</div>
