{# templates/partials/_nav_items.html.twig #}
{% if is_granted('ROLE_USER') %}
    <li><a href="{{ path('app_host_index') }}"
           class="{{ app.request.attributes.get('_route') starts with 'app_host_' ? 'active' : '' }}">{{ 'host.hosts'|trans }}</a>
    </li>
    <li><a href="{{ path('app_ssh_key_index') }}"
           class="{{ app.request.attributes.get('_route') starts with 'app_ssh_key_' ? 'active' : '' }}">{{ 'ssh_key.ssh_keys'|trans }}</a>
    </li>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
    <li><a href="{{ path('app_category_index') }}"
           class="{{ app.request.attributes.get('_route') starts with 'app_category_' ? 'active' : '' }}">{{ 'category.categories'|trans }}</a>
    </li>
{% endif %}
