{# templates/pages/category/_form.html.twig #}
{% import "macros/_form_widgets.html.twig" as form_widgets %}
{% import "components/button.html.twig" as button %}

{% set category_entity = form.vars.data %}
{% set form_id = form.vars.id %}

{% set initial_hosts_data = [] %}
{% if category_entity and category_entity.id and category_entity.hosts is iterable and category_entity.hosts is not empty %}
    {% set initial_hosts_data = category_entity.hosts|map(host_entity => {
        'id': host_entity.id,
        'name': host_entity.name ~ ' (' ~ host_entity.hostname ~ ')'
    }) %}
{% endif %}

{% set initial_users_data = [] %}
{% if category_entity and category_entity.id and category_entity.users is iterable and category_entity.users is not empty %}
    {% set initial_users_data = category_entity.users|map(user_entity => {
        'id': user_entity.id,
        'name': user_entity.email
    }) %}
{% endif %}

{{ form_start(form, { attr: { id: form_id } }) }}

{{ form_row(form.name) }}

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 [&_*]:!mb-0">
    {{ form_widgets.entity_selector(
        form.hosts,
        'api_hosts_search',
        'host',
        initial_hosts_data,
        'category.form.search_hosts',
        'category.form.search_hosts_placeholder',
        'category.form.no_hosts_added'
    ) }}

    {{ form_widgets.entity_selector(
        form.users,
        'api_users_search',
        'user',
        initial_users_data,
        'category.form.search_users',
        'category.form.search_users_placeholder',
        'category.form.no_users_added'
    ) }}
</div>

{{ form_rest(form) }}

{{ form_end(form, { render_rest: false }) }}

<div class="card-actions mt-6 flex flex-wrap items-center justify-between gap-4">
    <div>
        {% if category_entity and category_entity.id is not null and is_granted('ROLE_ADMIN') %}
            {{ button.delete(
                label_key='common.button.delete',
                form_action_path=path('app_category_delete', { id: category_entity.id }),
                csrf_token_value=csrf_token('delete'),
                confirm_message_key='category.alert.delete_confirm',
                confirm_params={'%name%': category_entity.name},
                additional_classes='btn-outline btn-error'
            ) }}
        {% endif %}
    </div>
    <div class="flex flex-wrap gap-2 justify-end">
        {{ button.outline(label_key='common.cancel', path=path('app_category_index')) }}
        <button type="submit" form="{{ form_id }}" class="btn btn-primary">
            {{ 'common.save'|trans }}
        </button>
    </div>
</div>
