{# templates/pages/category/_form.html.twig #}
{% import "macros/_form_widgets.html.twig" as form_widgets %}

{% set category_entity = form.vars.data %}
{% set form_id = form.vars.id %}

{% set initial_hosts_data = [] %}
{% if category_entity and category_entity.id and category_entity.hosts is iterable and category_entity.hosts is not empty %}
    {% set initial_hosts_data = category_entity.hosts|map(host_entity => {
        'id': host_entity.id,
        'name': host_entity.name ~ ' (' ~ host_entity.hostname ~ ')'
    }) %}
{% endif %}

{% set initial_users_data = [] %}
{% if category_entity and category_entity.id and category_entity.users is iterable and category_entity.users is not empty %}
    {% set initial_users_data = category_entity.users|map(user_entity => {
        'id': user_entity.id,
        'name': user_entity.email
    }) %}
{% endif %}

{{ form_start(form, { attr: { id: form_id } }) }}

{{ form_row(form.name) }}

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 [&_*]:!mb-0">
    {{ form_widgets.entity_selector(
        form.hosts,
        'api_hosts_search',
        'host',
        initial_hosts_data,
        'entity.category.form.search_hosts',
        'entity.category.form.search_hosts_placeholder',
        'entity.category.form.no_hosts_added'
    ) }}

    {{ form_widgets.entity_selector(
        form.users,
        'api_users_search',
        'user',
        initial_users_data,
        'entity.category.form.search_users',
        'entity.category.form.search_users_placeholder',
        'entity.category.form.no_users_added'
    ) }}
</div>

{{ form_rest(form) }}

{{ form_end(form, { render_rest: false }) }}

<div class="card-actions mt-6 flex flex-wrap items-center justify-between gap-4">
    <div>
        {% if category_entity and category_entity.id is not null and is_granted('ROLE_ADMIN') %}
            <twig:button
                variant="error"
                outline
                icon="bi:trash"
                confirmLabel="common.action.delete"
                confirmTitle="common.dialog.delete_title"
                :confirmMessage="'entity.category.dialog.delete_confirm'|trans({'%name%': category_entity.name})"
                :actionPath="path('app_category_delete', { id: category_entity.id })"
                :csrfToken="csrf_token('delete')"
            />
        {% endif %}
    </div>
    <div class="flex flex-wrap gap-2 justify-end">
        <twig:button
            tag="a"
            :href="path('app_category_index')"
            variant="primary"
            outline
            label="common.button.cancel"
        />
        <twig:button
            type="submit"
            :form="form_id"
            variant="primary"
            label="common.button.save"
        />
    </div>
</div>
