{% macro entity_selector(
    form_field,
    api_url_path,
    item_singular_name,
    initial_data,
    search_label_trans_key,
    search_placeholder_trans_key,
    no_items_trans_key
    ) %}
    <div class="form-control entity-selector-wrapper"
         data-controller="entity-selector"
         data-entity-selector-api-url-value="{{ path(api_url_path) }}"
         data-entity-selector-item-singular-name-value="{{ item_singular_name }}"
         data-entity-selector-initial-data-value="{{ initial_data|json_encode|escape('html_attr') }}">

        {{ form_label(form_field, null, {
            'label_attr': {
                'class': 'mb-0'
            }
        }) }}

        <div class="relative">
            <input type="text" id="{{ form_field.vars.id ~ '_search_input' }}"
                   data-entity-selector-target="searchInput"
                   data-action="input->entity-selector#handleSearchInput focus->entity-selector#handleFocus"
                   placeholder="{{ search_placeholder_trans_key|trans }}"
                   aria-label="{{ search_label_trans_key|trans }}"
                   class="input input-bordered w-full mb-2"
                   autocomplete="off">
            <div data-entity-selector-target="resultsContainer"
                 class="absolute top-full left-0 right-0 z-40 mt-1 menu bg-base-200 w-full rounded-box shadow-lg hidden max-h-60 overflow-y-auto">
            </div>
        </div>

        {{ form_widget(form_field, {'attr': {'class': 'hidden'}}) }}

        {{ form_errors(form_field) }}
        {{ form_help(form_field) }}

        <ul class="list bg-base-100 rounded-box shadow-md mt-2">
            <li data-entity-selector-target="selectedList">
            </li>
        </ul>
    </div>
{% endmacro %}
