{# templates/pages/settings/index.html.twig #}
{% extends 'layouts/crud_layout.html.twig' %}
{% import 'components/page_header.html.twig' as page_header %}
{% import 'components/button.html.twig' as button %}

{% set page_title = 'settings.title' %}
{% block title %}{{ page_title|trans }} - {{ parent() }}{% endblock %}

{% block page_header %}
    {{ page_header.default(
        title=page_title
    ) }}
{% endblock %}

{% block content %}
    <h2 class="text-xl font-semibold mb-4">{{ 'settings.account.title'|trans }}</h2>

    {{ form_start(form) }}

    <div class="divider">{{ 'label.email'|trans }}</div>

    {{ form_row(form.email) }}

    <div class="divider">{{ 'label.password'|trans }}</div>

    {{ form_row(form.currentPassword) }}

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
    </div>

    <div class="divider">{{ 'label.language'|trans }}</div>

    {# TODO: Integrate into form type #}
    <div class="flex items-center gap-4">
        <div class="join">
            <a href="{{ path('app_settings_change_locale', {'locale': 'en'}) }}"
               class="btn join-item {{ app.request.locale == 'en' ? 'btn-active' : '' }}">
                {{ "label.language_en"|trans }}
            </a>
            <a href="{{ path('app_settings_change_locale', {'locale': 'de'}) }}"
               class="btn join-item {{ app.request.locale == 'de' ? 'btn-active' : '' }}">
                {{ "label.language_de"|trans }}
            </a>
        </div>
    </div>

    {{ form_rest(form) }}

    <div class="card-actions justify-end">
        {{ button.outline(label_key='common.cancel', path=path('app_host_index')) }}
        {{ button.submit(label_key='common.save') }}
    </div>

    {{ form_end(form) }}

{% endblock %}
