{# templates/pages/settings/index.html.twig #}
{% extends 'layouts/crud_layout.html.twig' %}
{% import 'components/page_header.html.twig' as page_header %}
{% import 'components/button.html.twig' as button %}

{% set page_title = 'settings.title' %}
{% block title %}{{ page_title|trans }} - {{ parent() }}{% endblock %}

{% block page_header %}
    {{ page_header.default(
        title=page_title
    ) }}
{% endblock %}

{% block content %}
    <h2 class="text-xl font-semibold mb-4">{{ 'settings.account.title'|trans }}</h2>

    {{ form_start(accountForm, {'attr': {'class': 'space-y-6'}}) }}

    <div class="divider">{{ 'label.email'|trans }}</div>

    {# Email #}
    <div class="form-control">
        {{ form_label(accountForm.email, null, {'label_attr': {'class': 'label-text'}}) }}
        {{ form_widget(accountForm.email, {'attr': {'class': 'input input-bordered w-full', 'autocomplete': 'email'}}) }}
        {{ form_errors(accountForm.email) }}
    </div>

    <div class="divider">{{ 'label.password'|trans }}</div>

    {# Current Password #}
    <div class="form-control">
        {{ form_label(accountForm.currentPassword, 'settings.account.current_password'|trans, {'label_attr': {'class': 'label-text'}}) }}
        {{ form_widget(accountForm.currentPassword, {'attr': {'class': 'input input-bordered w-full', 'autocomplete': 'current-password', 'placeholder': '••••••••'}}) }}
        {{ form_errors(accountForm.currentPassword) }}
    </div>

    {# New Password Fields #}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="form-control">
            {{ form_label(accountForm.plainPassword.first, 'settings.account.new_password'|trans, {'label_attr': {'class': 'label-text'}}) }}
            {{ form_widget(accountForm.plainPassword.first, {'attr': {'class': 'input input-bordered w-full', 'autocomplete': 'new-password', 'placeholder': '••••••••'}}) }}
            {{ form_errors(accountForm.plainPassword.first) }}
        </div>
        <div class="form-control">
            {{ form_label(accountForm.plainPassword.second, 'settings.account.confirm_new_password'|trans, {'label_attr': {'class': 'label-text'}}) }}
            {{ form_widget(accountForm.plainPassword.second, {'attr': {'class': 'input input-bordered w-full', 'autocomplete': 'new-password', 'placeholder': '••••••••'}}) }}
            {{ form_errors(accountForm.plainPassword.second) }}
        </div>
    </div>
    {{ form_errors(accountForm.plainPassword) }}


    {{ form_rest(accountForm) }}

    <div class="flex justify-end pt-4">
        {{ button.submit('common.save_changes', null, 'btn-primary') }}
    </div>
    {{ form_end(accountForm) }}

{% endblock %}
