{# templates/pages/settings/index.html.twig #}
{% extends 'layouts/crud_layout.html.twig' %}
{% import 'components/page_header.html.twig' as page_header %}
{% import 'components/button.html.twig' as button %}

{% set page_title = 'settings.page_title' %}
{% block title %}{{ page_title|trans }} - {{ parent() }}{% endblock %}

{% block page_header %}
    {{ page_header.default(
        title=page_title
    ) }}
{% endblock %}

{% block content %}
    <h2 class="text-xl font-semibold mb-4">{{ 'settings.section.account'|trans }}</h2>

    {{ form_start(form) }}

    <div class="divider">{{ 'common.label.email'|trans }}</div>

    {{ form_row(form.email) }}

    <div class="divider">{{ 'common.label.password'|trans }}</div>

    {{ form_row(form.currentPassword) }}

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
    </div>

    {{ form_rest(form) }}

    <div class="card-actions justify-end">
        {{ button.outline(label_key='common.button.cancel', path=path('app_host_index')) }}
        {{ button.submit(label_key='common.button.save') }}
    </div>

    {{ form_end(form) }}

{% endblock %}
