{# templates/pages/user/_form.html.twig #}
{% set user_entity = user_entity ?? form.vars.data %}
{% set form_id = form.vars.id %}

{{ form_start(form, { attr: { id: form_id } }) }}

{{ form_row(form.name) }}
{{ form_row(form.email) }}
{{ form_row(form.plainPassword) }}
{{ form_row(form.roles) }}

{{ form_rest(form) }}

{{ form_end(form, { render_rest: false }) }}

<div class="card-actions mt-6 flex flex-wrap items-center justify-between gap-4">
    <div>
        {% if user_entity and user_entity.id is not null and is_granted('ROLE_ADMIN') %}
            <twig:button
                variant="error"
                outline
                icon="bi:trash"
                confirmLabel="common.action.delete"
                confirmTitle="common.dialog.delete_title"
                :confirmMessage="'entity.user.dialog.delete_confirm'|trans({'%name%': user_entity.name})"
                :actionPath="path('app_user_delete', { id: user_entity.id })"
                :csrfToken="csrf_token('delete')"
            />
        {% endif %}
    </div>
    <div class="flex flex-wrap gap-2 justify-end">
        <twig:button
            tag="a"
            :href="path('app_user_index')"
            variant="primary"
            outline
            label="common.button.cancel"
        />
        <twig:button
            type="submit"
            :form="form_id"
            variant="primary"
            label="common.button.save"
        />
    </div>
</div>
