{# templates/pages/user/_form.html.twig #}
{% import "components/button.html.twig" as button %}
{% set user_entity = user_entity ?? form.vars.data %}
{% set form_id = form.vars.id %}

{{ form_start(form, { attr: { id: form_id } }) }}

{{ form_row(form.name) }}
{{ form_row(form.email) }}
{{ form_row(form.plainPassword) }}
{{ form_row(form.roles) }}

{{ form_rest(form) }}

{{ form_end(form, { render_rest: false }) }}

<div class="card-actions mt-6 flex flex-wrap items-center justify-between gap-4">
    <div>
        {% if user_entity and user_entity.id is not null and is_granted('ROLE_ADMIN') %}
            {{ button.delete(
                label_key='common.button.delete',
                form_action_path=path('app_user_delete', { id: user_entity.id }),
                csrf_token_value=csrf_token('delete'),
                confirm_message_key='user.alert.delete_confirm',
                confirm_params={'%name%': user_entity.name},
                additional_classes='btn-outline btn-error'
            ) }}
        {% endif %}
    </div>
    <div class="flex flex-wrap gap-2 justify-end">
        {{ button.outline(label_key='common.cancel', path=path('app_user_index')) }}
        <button type="submit" form="{{ form_id }}" class="btn btn-primary">
            {{ 'common.save'|trans }}
        </button>
    </div>
</div>
