{# templates/pages/host/_form.html.twig #}
{% import "components/button.html.twig" as button %}

{{ form_start(form) }}

{{ form_row(form.name) }}
{{ form_row(form.hostname) }}

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
    {{ form_row(form.port) }}
    {{ form_row(form.username) }}
</div>

{{ form_rest(form) }}

<div class="card-actions justify-end">
    {{ button.outline(label_key='common.cancel', path=path('app_host_index')) }}
    {{ button.submit(label_key='common.save') }}
</div>

{{ form_end(form) }}
