{# templates/pages/host/_form.html.twig #}
{% set host = host ?? form.vars.data %}
{% set form_id = form.vars.id %}

{{ form_start(form, { attr: { id: form_id } }) }}

{{ form_row(form.name) }}
{{ form_row(form.hostname) }}

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 [&>div]:mb-0 [&>div>div]:mb-0">
    {{ form_row(form.port) }}
    {{ form_row(form.username) }}
</div>


{{ form_rest(form) }}

{{ form_end(form, { render_rest: false }) }}

<div class="card-actions mt-6 flex flex-wrap items-center justify-between gap-4">
    <div>
        {% if host is not null and host.id is not null and is_granted('ROLE_ADMIN') %}
            <twig:button
                variant="error"
                outline
                icon="bi:trash"
                confirmLabel="common.action.delete"
                confirmTitle="common.dialog.delete_title"
                :confirmMessage="'entity.host.dialog.delete_confirm'|trans({'%name%': host.name})"
                :actionPath="path('app_host_delete', { id: host.id })"
                :csrfToken="csrf_token('delete')"
            />
        {% endif %}
    </div>
    <div class="flex flex-wrap gap-2 justify-end">
        <twig:button
            tag="a"
            :href="path('app_host_index')"
            variant="primary"
            outline
            label="common.button.cancel"
        />
        <twig:button
            type="submit"
            :form="form_id"
            variant="primary"
            label="common.button.save"
        />
    </div>
</div>
