{# templates/components/button.html.twig #}
<{{ this.tag }} class="{{ this.computedClasses }}" {{ this.computedAttributesString|raw }}>
    {# Icon on left #}
    {% if this.icon and this.iconPosition == 'left' %}
        {{ ux_icon(this.icon, { class: 'w-4 h-4' }) }}
    {% endif %}

    {# Label or content block #}
    {% if this.label %}
        {{ this.label|trans }}
    {% else %}
        {{ block('content') }}
    {% endif %}

    {# Icon on right #}
    {% if this.icon and this.iconPosition == 'right' %}
        {{ ux_icon(this.icon, { class: 'w-4 h-4' }) }}
    {% endif %}
</{{ this.tag }}>

{# Confirmation modal (if configured) #}
{% if this.confirmMessage %}
    {% set modal_id = this.modalId %}
    <dialog id="{{ modal_id }}" class="modal">
        <div class="modal-box">
            <h3 class="font-bold text-lg">{{ this.computedConfirmTitle|trans }}</h3>
            <p class="py-4">{{ this.confirmMessage|trans|raw }}</p>
            <div class="modal-action">
                <button type="button" class="btn"
                        onclick="document.getElementById('{{ modal_id }}').close()">
                    {{ this.computedCancelLabel|trans }}
                </button>
                <form method="post" action="{{ this.actionPath }}">
                    <input type="hidden" name="{{ this.csrfTokenName }}" value="{{ this.csrfToken }}">
                    <button type="submit" class="btn btn-{{ this.variant }}">
                        {{ this.computedConfirmLabel|trans }}
                    </button>
                </form>
            </div>
        </div>
        <form method="dialog" class="modal-backdrop">
            <button>{{ this.computedCloseLabel|trans }}</button>
        </form>
    </dialog>
{% endif %}
